@tailwind base;
@tailwind components;
@tailwind utilities;

.map-container {
  height: 100vh; /* Utilise 100% de la hauteur de la fenêtre */
  width: 100vw; /* Utilise 100% de la largeur de la fenêtre */
}

.leaflet-container {
  min-height: 100vh;
  height: 100;
}